# $Id: .htaccess 1128 2005-08-03 22:16:55Z mysz $
Options FollowSymLinks

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^([0-9]+)/? index.php?p=1&id=$1 [L]                # permanent link

    RewriteRule ^date/([0-9-]+)/? index.php?p=9&date=$1 [L]        # date link
    RewriteRule ^comments/([0-9]+)/? index.php?p=2&id=$1 [L]       # show comments

    RewriteRule ^offset/([0-9]+)/? index.php?p=all&start=$1 [L]    # pagination
    RewriteRule ^switch/([a-zA-Z0-9]+)/? design.php?issue=$1 [L]   # design switcher

    RewriteRule ^category/([0-9]+)/?([0-9]+)?/?$ index.php?p=4&id=$1&start=$2 [NE,L]                   # category + pagination
    RewriteRule ^search/?([a-zA-Z0-9]+)?/?([0-9]+)?/?$ index.php?p=8&search_word=$1&start=$2 [NE,L]    # search + pagination
    RewriteRule ^addcomments/?([0-9]+)/?([a-zA-Z0-9]+)?/?([0-9]+)?/?$ index.php?p=3&id=$1&c=$3 [NE,L]  # add comments + quote

    RewriteRule ^add/([0-9]+)/? index.php?p=$1&action=add [L]      # form add link
    RewriteRule ^node/([0-9]+)/? index.php?p=5&id=$1 [L]           # page link
    RewriteRule ^photo/([0-9]+)? photo.php?id=$1 [L]               # photo link
    RewriteRule ^page/photo/([0-9]+)? photo.php?p=5&id=$1 [L]      # page photo link

    RewriteRule ^all/? index.php?p=all [L]
    RewriteRule ^rss?([a-z]+)?/?$ rss$1.php [L]
</IfModule>
