#Administration RewriteRule's

Options FollowSymLinks

RewriteEngine On

RewriteRule ^$ index [L]
RewriteRule ^1,(.*),item.html$ main?p=$1 [L]
RewriteRule ^start,(.*),(.*)$ main?p=$1&start=$2 [L]
RewriteRule ^(.*),(.*),action.html$ main?p=$2&action=$1 [L]
RewriteRule ^(.*),(.*),(.*),edit.html$ main?p=$3&action=$1&id=$2 [L]

RewriteRule ^index\.login$ index?p=log [L]

<Files index>
ForceType application/x-httpd-php
</Files>

<Files main>
ForceType application/x-httpd-php
</Files>