#Administration RewriteRule's

ForceType application/x-httpd-php

Options FollowSymLinks

RewriteEngine On

RewriteRule ^$ index [L]
RewriteRule ^main\.(.*)$ main?p=$1 [L]
RewriteRule ^editnote\.(.*)$ main?p=editnote&start=$1 [L]
RewriteRule ^editcomments\.(.*)$ main?p=editcomments&start=$1 [L]
RewriteRule ^mostcomments\.(.*)$ main?p=mostcomments&start=$1 [L]
RewriteRule ^note\.add$ main?p=addnote&action=add [L]
RewriteRule ^page\.add$ main?p=addpage&action=add [L]
RewriteRule ^note\.adduser$ main?p=adduser&action=add [L]
RewriteRule ^note\.addcategory$ main?p=addcategory&action=add [L]
RewriteRule ^note\.modifyconfig$ main?p=configuration&action=add [L]
RewriteRule ^note\.(.*)\.(.*)$ main?p=editnote&action=$1&id=$2 [L]
RewriteRule ^page\.(.*)\.(.*)$ main?p=editpage&action=$1&id=$2 [L]
RewriteRule ^category\.(.*)\.(.*)$ main?p=editcategory&action=$1&id=$2 [L]
RewriteRule ^comments\.(.*)\.(.*)$ main?p=editcomments&action=$1&id=$2 [L]
RewriteRule ^index\.login$ index?p=log [L]
RewriteRule ^note\.(.*)\.(.*)$ main?p=editnote&action=$1&id=$2 [L]