<?php

define('DB_HOST', 'localhost');
define('DB_USER', '');
define('DB_PASS', '');
define('DB_NAME', '');
define('PREFIX', 'core_');

define('TABLE_ASSIGN2CAT',    PREFIX . 'assign2cat');
define('TABLE_MAIN',          PREFIX . 'devlog');
define('TABLE_USERS',         PREFIX . 'users');
define('TABLE_COMMENTS',      PREFIX . 'comments');
define('TABLE_CONFIG',        PREFIX . 'config');
define('TABLE_CATEGORY',      PREFIX . 'category');
define('TABLE_PAGES',         PREFIX . 'pages');
define('TABLE_LINKS',         PREFIX . 'links');
define('TABLE_NEWSLETTER',    PREFIX . 'newsletter');

define('CORE_INSTALLED', true);

//mail address to person who can repair if something in Your code is broken
define('ADMIN_MAIL', 'email@example.com');

?>